<div>
  <div *ngIf="identity.role === 3">

    <div class="d-flex justify-content-center">
      <mat-spinner [diameter]="30" *ngIf="!resposts"></mat-spinner>
    </div>

    <div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
        <li ngbNavItem>
          <a ngbNavLink>Mis Respuestas</a>
          <ng-template ngbNavContent>
            <h1 *ngIf="resposts.length < 1" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tiene
              Respuestas</h1>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDown()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let respost of resposts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{respost.post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{respost.post.title}}</q>
                        <a [routerLink]="['/post',respost.post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>

          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Mis Recursos</a>
          <ng-template ngbNavContent>
            <h1 *ngIf="libDocPosts.length < 1" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No
              Tiene
              Recursos</h1>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDownLibDoc()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let libdoc of libDocPosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{libdoc.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{libdoc.title}}</q>
                        <p class="tm-quote">{{libdoc.document_type.name}} <span *ngIf="libdoc.section">-
                            {{libdoc.section}}</span></p>
                        <p class="tm-quote"><span *ngIf="libdoc.pages">{{libdoc.pages}} Paginas -
                          </span>{{libdoc.created_at | date}}</p>

                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>

  </div>

  <div *ngIf="identity.role === 1 || identity.role == 4 || identity.role == 2">




    <div class="d-flex justify-content-center">
      <mat-spinner [diameter]="30" *ngIf="!completePosts"></mat-spinner>
    </div>
    <div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
        <li ngbNavItem>
          <a ngbNavLink>Pendientes</a>
          <ng-template ngbNavContent>
            <h1 *ngIf="!pendPosts || pendPosts.length < 1"
              class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tienes
              Solicitudes</h1>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDown()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let post of pendPosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{post.title}}</q>
                        <a [routerLink]="['/post',post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Completadas</a>
          <ng-template ngbNavContent>
            <h1 *ngIf="!completePosts || completePosts.length < 1"
              class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Hay
              Solicitudes</h1>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDownCompletePending()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let post of completePosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{post.title}}</q>
                        <a [routerLink]="['/post',post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
