<div class="main-body animated fadeIn fast">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img *ngIf="!identity || !identity.image"
                            src="https://www.flaticon.es/svg/static/icons/svg/3612/3612416.svg" alt="Admin"
                            class="rounded-circle" width="150">

                        <img *ngIf="identity && identity.image" src="{{url + 'user/avatar/' + identity.image}}"
                            alt="Admin" class="rounded-circle" width="150" height="150">

                        <div class="mt-3">
                            <h4 *ngIf="identity && identity.name">{{identity.name}}</h4>
                            <p class="text-secondary mb-1">Full Stack Developer</p>
                            <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                            <angular-file-uploader [config]="afuConfig" (ApiResponse)="avatarUpload($event)">
                            </angular-file-uploader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <form #userEditForm='ngForm' (ngSubmit)="onSubmitEdit(userEditForm)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-secondary">
                                <mat-form-field appearance="outline" class="input-full-width">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput type="text" name="nameu" placeholder="Nombre" #nameu="ngModel"
                                        required pattern="[a-z A-Z]+" [(ngModel)]="userUpdate.name">
                                    <mat-hint *ngIf="!nameu.valid && nameu.touched" class="text-danger">El nombre no es
                                        valido</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">

                                <mat-form-field appearance="outline" class="input-full-width">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput type="text" name="lastname" placeholder="Fred" #lastname="ngModel"
                                        [(ngModel)]="userUpdate.surname" required pattern="[a-z A-Z]+">
                                    <mat-hint *ngIf="!lastname.valid && lastname.touched" class="text-danger">El
                                        apellido no es valido</mat-hint>
                                </mat-form-field>

                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">

                                <mat-form-field appearance="outline" class="input-full-width">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput type="text" name="emailu" placeholder="Fred" required
                                        #emailu="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        [(ngModel)]="userUpdate.email">
                                    <mat-hint *ngIf="!emailu.valid && emailu.touched" class="text-danger">El
                                        correo es invalido</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                                    [disabled]="userEditForm.invalid">Actualizar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- todo: repare this for post from the user. -->

    <hr />
    <div *ngIf="identity.role === 'ROLE_ADMIN'">


        <h1 *ngIf="reposts" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">Mis Respuestas</h1>
        <h1 *ngIf="!reposts" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tiene Respuestas</h1>

        <div class="d-flex justify-content-center">
            <mat-spinner [diameter]="30" *ngIf="!resposts"></mat-spinner>
        </div>
        <div class="container animated fadeIn fast" *ngFor="let respost of resposts">
            <section class="row tm-section tm-mb-30">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                        <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                            <h1 class="tm-text-color-white tm-site-name">{{respost.post.category.name}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                        <div class="tm-flex-center tm-flex-col">
                            <q class="tm-quote tm-text-color-gray mb-4">{{respost.post.title}}</q>
                            <a [routerLink]="['/post',respost.post.id]" class="btn btn-primary">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </section>
            <hr />
        </div>
    </div>

    <div *ngIf="identity.role === 'ROLE_USER'">


        <h1 *ngIf="posts && posts.length > 0" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">Mis Solicitudes</h1>
        <h1 *ngIf="!posts || posts.length < 1" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tienes Solicitudes</h1>

        <div class="d-flex justify-content-center">
            <mat-spinner [diameter]="30" *ngIf="!posts"></mat-spinner>
        </div>
        <div class="container animated fadeIn fast" *ngFor="let post of posts">
            <section class="row tm-section tm-mb-30">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                        <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                            <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                        <div class="tm-flex-center tm-flex-col">
                            <q class="tm-quote tm-text-color-gray mb-4">{{post.title}}</q>
                            <a [routerLink]="['/post', post.id]" class="btn btn-primary">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </section>
            <hr />
        </div>
    </div>

</div>