<div class="main-body animated fadeIn fast">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img *ngIf="!identity || !identity.image"
              src="https://res.cloudinary.com/dzm7agwqs/image/upload/v1614635779/user_2_jjmkzc.png" alt="Admin"
              class="rounded-circle" width="150">

            <img *ngIf="identity && identity.image" src="{{url + 'user/avatar/' + identity.image}}" alt="Admin"
              class="rounded-circle" width="150" height="150">

            <div class="mt-3">
              <h3 class="font-weight-bold" *ngIf="identity && identity.name">{{identity.name}}</h3>
              <angular-file-uploader [config]="afuConfig" (ApiResponse)="avatarUpload($event)">
              </angular-file-uploader>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
            <h3 class="mb-0 font-weight-bold">Solicitudes</h3>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <h3 class="mb-0 font-weight-bold">Completas</h3>
            <span class="badge badge-pill badge-success">{{completedPosts}}</span>

          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <h3 class="mb-0 font-weight-bold">Pendientes</h3>
            <span class="badge badge-pill badge-danger">{{pendingPosts}}</span>
          </li>

        </ul>
      </div>

    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <form #userEditForm='ngForm' (ngSubmit)="onSubmitEdit(userEditForm)">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-secondary">
                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" name="nameu" placeholder="Nombre" #nameu="ngModel" required
                    pattern="[a-z A-Z]+" [(ngModel)]="userUpdate.name">
                  <mat-hint *ngIf="!nameu.valid && nameu.touched" class="text-danger">El nombre no es
                    valido</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">

              <div class="col-sm-12 text-secondary">

                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>Apellido</mat-label>
                  <input matInput type="text" name="lastname" placeholder="Fred" #lastname="ngModel"
                    [(ngModel)]="userUpdate.surname" required pattern="[a-z A-Z]+">
                  <mat-hint *ngIf="!lastname.valid && lastname.touched" class="text-danger">El
                    apellido no es valido</mat-hint>
                </mat-form-field>

              </div>
            </div>
            <hr>
            <div class="row">

              <div class="col-sm-12 text-secondary">

                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" name="emailu" placeholder="Fred" required #emailu="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userUpdate.email">
                  <mat-hint *ngIf="!emailu.valid && emailu.touched" class="text-danger">El
                    correo es invalido</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un rol</mat-label>
                    <mat-select name="role" #category="ngModel" [(ngModel)]="userUpdate.role" required>
                      <mat-option *ngFor="let role of roles" [value]="role.id">
                        {{role.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline" class="input-full-width">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="tel" name="phone" placeholder="Ej: 3001234567" required #phone="ngModel"
                      pattern="[0-9]{10}" [(ngModel)]="userUpdate.phone">
                    <mat-error *ngIf="!phone.valid && phone.touched" class="text-danger">El
                      telefono es invalido</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input required name="birthdate" #birthdate="ngModel" [(ngModel)]="userUpdate.birth_date"
                      placeholder="Ej: dd/mm/aaaa" matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!birthdate.valid && birthdate.touched" class="text-danger">Fecha de nacimiento
                      obligatoria</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-12">
                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                  [disabled]="userEditForm.invalid">Actualizar</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>


  <hr />
  <div *ngIf="identity.role === 3">

    <h1 *ngIf="resposts && resposts.length > 1" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">Mis
      Respuestas</h1>
    <h1 *ngIf="resposts.length < 1" class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tiene
      Respuestas</h1>

    <div class="d-flex justify-content-center">
      <mat-spinner [diameter]="30" *ngIf="!resposts"></mat-spinner>
    </div>

    <div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
        <li ngbNavItem>
          <a ngbNavLink>Mis Respuestas</a>
          <ng-template ngbNavContent>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDown()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let respost of resposts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{respost.post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{respost.post.title}}</q>
                        <a [routerLink]="['/post',respost.post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>

          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Mis Recursos</a>
          <ng-template ngbNavContent>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDownLibDoc()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let libdoc of libDocPosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{libdoc.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{libdoc.title}}</q>
                        <!-- <a [routerLink]="['/post',libdoc.id]" class="btn btn-primary">Ver Mas</a> -->
                        <a class="btn btn-primary">Ver Mas</a>

                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>

  </div>

  <div *ngIf="identity.role === 1 || identity.role == 4 || identity.role == 2">

    <h1 *ngIf="completePosts && completePosts.length > 0"
      class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">Mis
      Solicitudes</h1>
    <h1 *ngIf="!completePosts || completePosts.length < 1"
      class="text-center tm-text-color-gray font-weight-bold mt-4 mb-4">No Tienes
      Solicitudes</h1>

    <div class="d-flex justify-content-center">
      <mat-spinner [diameter]="30" *ngIf="!completePosts"></mat-spinner>
    </div>
    <div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
        <li ngbNavItem>
          <a ngbNavLink>Pendientes</a>
          <ng-template ngbNavContent>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDown()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let post of pendPosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{post.title}}</q>
                        <a [routerLink]="['/post',post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Completadas</a>
          <ng-template ngbNavContent>
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDownCompletePending()">
              <div class="container animated fadeIn fast mt-4" *ngFor="let post of completePosts">
                <section class="row tm-section tm-mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                    <div class="tm-flex-center p-5 tm-bg-color-primary">
                      <div class="tm-max-w-400 tm-flex-center tm-flex-col">
                        <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-flex-center p-5">
                      <div class="tm-flex-center tm-flex-col">
                        <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{post.title}}</q>
                        <a [routerLink]="['/post',post.id]" class="btn btn-primary">Ver Mas</a>
                      </div>
                    </div>
                  </div>
                </section>
                <hr />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>

</div>
