<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1" *ngIf="!identity">
      <button (click)="open(content)" mat-stroked-button>Ingresar</button>
    </div>
    <div class="col-4 pt-1" *ngIf="identity && identity.name">
      <div>
        <img loading="lazy" *ngIf="identity.image" id="dropdownBasic1"  [matMenuTriggerFor]="menu" width="35" height="35"
          class="border border-secondary rounded-circle" src="{{url + 'user/avatar/' + identity.image}}"
          alt="User Image" />

        <img loading="lazy" *ngIf="!identity.image" id="dropdownBasic1"  [matMenuTriggerFor]="menu" width="35" height="35"
          class="border rounded-circle"
          src="https://res.cloudinary.com/dzm7agwqs/image/upload/v1614635779/user_2_jjmkzc.png" alt="Default Image" />

          <mat-menu #menu="matMenu">
            <div>
              <button mat-menu-item class="font-weight-bold" [routerLink]="['/edit']">{{identity.name}} </button>

              <div *ngIf="identity.role === 1 || identity.role === 4 || identity.role === 2">
                <button mat-menu-item [routerLink]="['/new-post']">Crear Solicitud</button>
              </div>

              <div *ngIf="identity.role === 3">
                <button mat-menu-item [routerLink]="['/recent-solicitude']">Solicitudes</button>
                <button mat-menu-item [routerLink]="['/new-libdocument']">Crear Recurso</button>
              </div>
              <button mat-menu-item  (click)="$event.preventDefault(); logout();">Salir</button>
            </div>

          </mat-menu>
      </div>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark font-weight-bold" [routerLink]="['/']">Ribid</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">

      <form class="example-form">
        <input type="search" placeholder="Buscar..." [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">
            <div class="d-flex justify-content-center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
          </mat-option>
          <mat-option *ngFor="let post of filteredPosts" [routerLink]="['/post', post.id]" [value]="post.title">
            {{post.title}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</header>

<app-categories></app-categories>

<ng-template #content let-modal>
  <div class="modal-body">
    <div id="first">
      <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark font-weight-bold">Iniciar Sesion</h1>
          </div>
        </div>
        <form name="signin" #signinForm='ngForm' (ngSubmit)='onSubmitSignin(signinForm)'>
          <div class="form-group">
            <div class="page">
              <label class="pure-material-textfield-outlined">
                <input type="email" name="emails" id="emails" placeholder=" " #emails="ngModel"
                  [(ngModel)]="userSiginin.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <span>Correo</span>
              </label>
              <small *ngIf="!emails.valid && emails.touched" class="invalid-feedback d-block">El correo es
                invalido</small>
            </div>
          </div>

          <div class="form-group">
            <div class="page">
              <label class="pure-material-textfield-outlined">
                <input class="field__input" type="password" id="passwords" name="passwords" placeholder=" "
                  #passwords="ngModel" [(ngModel)]="userSiginin.password" required>
                <span>Contraseña</span>
              </label>
              <small *ngIf="!passwords.valid && passwords.touched" class="invalid-feedback d-block">La Contraseña es
                invalida</small>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">Al ingresar, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block btn-primary tx-tfm"
              [disabled]="signinForm.invalid">Iniciar</button>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">o</span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">No tienes una cuenta? <a href="#"
                (click)="$event.preventDefault();modal.dismiss('Cross click'); openSingup(singup)"
                id="signup">Registrate Aqui</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #singup let-modal>
  <div class="modal-body">
    <div id="first">
      <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark font-weight-bold">Registrarme</h1>
          </div>
        </div>
        <form name="register" #registerForm='ngForm' (ngSubmit)='onSubmitRegister(registerForm)'>
          <div class="form-group">
            <div class="page">
              <label class="pure-material-textfield-outlined">
                <input type="text" name="name" placeholder=" " #name="ngModel" [(ngModel)]="user.name" required
                  pattern="[a-z A-Z]+">
                <span>Nombre</span>
              </label>
              <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
            </div>
          </div>

          <div class="form-group">
            <div class="page">
              <label class="pure-material-textfield-outlined">
                <input type="email" name="email" placeholder=" " #email="ngModel" [(ngModel)]="user.email" required
                  pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(.*)\.edu\.co$">
                <span>Correo</span>
              </label>
              <span *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Unicamente correos con
                dominio (.edu.co) admitidos</span>
            </div>
          </div>


          <div class="form-group">
            <div class="page">
              <label class="pure-material-textfield-outlined">
                <input type="password" id="password" name="password" placeholder=" " #password="ngModel"
                  [(ngModel)]="user.password" required>
                <span>Contraseña</span>
              </label>
              <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La Contraseña es
                invalida</small>
            </div>
          </div>


          <div class="form-group">
            <p class="text-center">Al registrarse, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>

          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              [disabled]="registerForm.invalid">Registrame</button>
          </div>

          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">o</span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">Ya tienes una cuenta? <a href="#"
                (click)="$event.preventDefault();modal.dismiss('Cross click'); open(content);" id="signup">Inicia
                aqui</a></p>
          </div>
        </form>
      </div>
    </div>

  </div>
</ng-template>
