<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1" *ngIf="!identity">
      <button ngbAutofocus class="btn btn-sm btn-outline-secondary" (click)="open(content); $event.preventDefault();">Ingresar</button>
    </div>

    <div class="col-4 pt-1" *ngIf="identity && identity.name">
      <div ngbDropdown>
        <img *ngIf="identity.image" id="dropdownBasic1" ngbDropdownToggle width="35" height="35"
          class="border border-secondary rounded-circle" src="{{url + 'user/avatar/' + identity.image}}" />

        <img *ngIf="!identity.image" id="dropdownBasic1" ngbDropdownToggle width="35" height="35"
          class="border border-secondary rounded-circle"
          src="https://www.flaticon.es/svg/static/icons/svg/3612/3612416.svg" />

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault();"> {{identity.name}} </a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" [routerLink]="['/new-post']" (click)="$event.preventDefault();"> Crear </a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" [routerLink]="['/edit']" (click)="$event.preventDefault();"> Ajustes </a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault(); logout();"> Salir </a>
        </div>
      </div>
    </div>

    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" [routerLink]="['/']">Ribid</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="text-muted" href="#" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"
          focusable="false">
          <title>Search</title>
          <circle cx="10.5" cy="10.5" r="7.5" />
          <path d="M21 21l-5.2-5.2" />
        </svg>
      </a>
    </div>
  </div>
</header>

<app-categories></app-categories>

<ng-template #content let-modal>
  <div class="modal-body">
    <div id="first">
      <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark">Iniciar Sesion</h1>
          </div>
        </div>
        <form name="signin" #signinForm='ngForm' (ngSubmit)='onSubmitSignin(signinForm)'>


          <div class="form-group">
            <mat-form-field appearance="outline" class="input-full-width">
              <mat-label>Correo</mat-label>
              <input matInput type="text" type="email" name="emails"  placeholder="Correo Electronico"
                #emails="ngModel" [(ngModel)]="userSiginin.email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
              <mat-error *ngIf="!emails.valid && emails.touched" class="text-danger">El correo es
                invalido</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">

            <mat-form-field appearance="outline" class="input-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="password" name="passwords" placeholder="Ingresar Contraseña"
                #passwords="ngModel" [(ngModel)]="userSiginin.password" required/>
              <mat-error *ngIf="!passwords.valid && passwords.touched" class="text-danger">La Contraseña es
                invalida</mat-error>
            </mat-form-field>

          </div>
          <div class="form-group">
            <p class="text-center">Al ingresar, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              [disabled]="signinForm.invalid">Iniciar</button>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">o</span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">No tienes una cuenta? <a href="#"
                (click)="$event.preventDefault();modal.dismiss('Cross click'); openSingup(singup)"
                id="signup">Registrate Aqui</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #singup let-modal>
  <div class="modal-body">
    <div id="first">
      <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark">Registrarme</h1>
          </div>
        </div>
        <form name="register" #registerForm='ngForm' (ngSubmit)='onSubmitRegister(registerForm)'>
          <div class="form-group">
            <div class="page">
              <label class="field field_v3">
                <input class="field__input" type="text" name="name" placeholder="Fred" #name="ngModel"
                  [(ngModel)]="user.name" required pattern="[a-z A-Z]+">
                <span class="field__label-wrap">
                  <span class="field__label">Nombre</span>
                </span>
              </label>
              <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
            </div>
          </div>

          <div class="form-group">
            <div class="page">
              <label class="field field_v3">
                <input class="field__input" type="email" name="email" placeholder="Correo Electronico" #email="ngModel"
                  [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <span class="field__label-wrap">
                  <span class="field__label">Correo</span>
                </span>
              </label>
              <span *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El correo es invalido</span>
            </div>
          </div>


          <div class="form-group">
            <div class="page">
              <label class="field field_v3">
                <input class="field__input" type="password" id="password" name="password"
                  placeholder="Ingresar Contraseña" #password="ngModel" [(ngModel)]="user.password" required required>
                <span class="field__label-wrap">
                  <span class="field__label">Contraseña</span>
                </span>
              </label>
              <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La Contraseña es
                invalida</small>
            </div>
          </div>


          <div class="form-group">
            <p class="text-center">Al registrarse, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>

          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              [disabled]="registerForm.invalid">Registrame</button>
          </div>

          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">o</span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-center">Ya tienes una cuenta? <a href="#"
                (click)="$event.preventDefault();modal.dismiss('Cross click'); open(content);" id="signup">Inicia
                aqui</a></p>
          </div>
        </form>
      </div>
    </div>

  </div>
</ng-template>