<div mat-dialog-content>
    <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark">Iniciar Sesion</h1>
          </div>
        </div>
        <form>
        <!-- <form name="signin" #signinForm='ngForm' (ngSubmit)='onSubmitSignin(signinForm)'> -->


          <div class="form-group">
            <mat-form-field appearance="outline" class="input-full-width">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi">
              <!-- <input matInput type="text" type="email" name="emails"  placeholder="Correo Electronico"
                #emails="ngModel" [(ngModel)]="userSiginin.email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/> -->

                <!-- todo repare this -->

              <!-- <mat-error *ngIf="!emails.valid && emails.touched" class="text-danger">El correo es
                invalido</mat-error> -->
            </mat-form-field>
          </div>

          <div class="form-group">

            <mat-form-field appearance="outline" class="input-full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi">
              <!-- <input matInput [type]="password" name="passwords" placeholder="Ingresar Contraseña"
                #passwords="ngModel" [(ngModel)]="userSiginin.password" required/> -->

                <!-- todo respare this shit -->

              <!-- <mat-error *ngIf="!passwords.valid && passwords.touched" class="text-danger">La Contraseña es
                invalida</mat-error> -->
            </mat-form-field>

          </div>
          <div class="form-group">
            <p class="text-center">Al ingresar, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              >Iniciar</button>

              <!-- todo respare this shit -->

            <!-- <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              [disabled]="signinForm.invalid">Iniciar</button> -->
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">o</span>
            </div>
          </div>
          <div class="form-group">
              <!-- create onclick action -->
            <!-- <p class="text-center">No tienes una cuenta? <a href="#"
                id="signup">Registrate Aqui</a></p> -->
            <p class="text-center">No tienes una cuenta? <a href="#"
                (click)="onNoClick(); openDialogSingUp();"
                id="signup">Registrate Aqui</a></p>
          </div>
        </form>
      </div>
</div>

