<div class="main-body animated fadeIn fast">
  <div class="row gutters-sm">
    <div class="col-md-12">
      <div class="card mb-3">
        <form #createLibDocumentForm='ngForm' (ngSubmit)='createLibDocument(createLibDocumentForm)'>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-secondary">
                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>Titulo</mat-label>
                  <input matInput placeholder="Ej: Educación y democracia" type="text" name="title" required
                    #title="ngModel" [(ngModel)]="libDocument.title" minlength="20">
                  <mat-error *ngIf="!title.valid && title.touched" class="text-danger">Longitud minima
                    de 20 caracateres</mat-error>
                </mat-form-field>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-12 text-secondary">
                <mat-form-field appearance="outline" class="input-full-width">
                  <mat-label>Autor</mat-label>
                  <input matInput placeholder="Ej: Estanislao Zuleta" type="text" name="author" required
                    #author="ngModel" [(ngModel)]="libDocument.author" minlength="10">
                  <mat-error *ngIf="!author.valid && author.touched" class="text-danger">Longitud minima
                    de 10 caracateres</mat-error>
                </mat-form-field>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona una categoria</mat-label>
                    <mat-select name="category_id" #category="ngModel" [(ngModel)]="libDocument.category_id" required>
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!category.valid && category.touched" class="text-danger">
                      Categoria es necesaria</mat-error>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <hr />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona un tipo de documento</mat-label>
                    <mat-select name="role" #documentType="ngModel" [(ngModel)]="libDocument.document_type_id" required>
                      <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                        {{documentType.name}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Para cada tipo de documento aplica sección y paginas</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="showPages">
              <hr />
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  <mat-form-field appearance="outline" class="input-full-width">
                    <mat-label>Sección</mat-label>
                    <input matInput placeholder="Ej: Capitulo ll" type="text" name="section" required #section="ngModel"
                      [(ngModel)]="libDocument.section">
                    <mat-error *ngIf="!section.valid && section.touched" class="text-danger">La seccion es obligatoria
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="showPages">
              <hr />
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  <h5>Selcciona la cantidad de paginas</h5>
                  <mat-slider (input)="onInputChange($event)" cancelable=true thumbLabel valueText="Sasdfasdf"
                    tickInterval="1000" min="1" max="100">
                  </mat-slider>

                </div>
              </div>
            </div>


            <hr />
            <div class="row">
              <div class="col-sm-12 text-secondary">
                <h5>Selcciona un archivo*</h5>
                <div class="page text-center">
                  <angular-file-uploader [config]="fileConfig" (ApiResponse)="fileUpload($event)">
                  </angular-file-uploader>
                </div>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                  [disabled]="createLibDocumentForm.invalid">Guardar</button>
              </div>
            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
</div>
