<div class="container">
  <div class="jumbotron">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            ¿Que es Ribid?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Ribid es una Red interbibliotecaria de intercambio de documentos
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            ¿Que me permite hacer Ribid?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Ribid permite recuperar documentos (artículos de revista, capítulos de
          libros, conferencias, etc.) que no están disponibles en las colecciones impresas o electrónicas del
          CRAI mediante convenios, consorcios o acuerdos interinstitucionales.
        </p>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            ¿Como functiona Ribid?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Este servicio es posible gracias a los convenios con distintas instituciones a nivel nacional e
          internacional y su propósito es proporcionar a la comunidad universitaria (estudiantes, docentes,
          investigadores, egresados y empleados) la obtención y suministro eficiente y oportuno de artículos
          de revistas y toda clase de material bibliográfico que requieren para sus actividades académicas e
          investigativas.
        </p>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            ¿Que documentos solicitar en Ribid?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Para el caso de libros, tesis, normas y patentes, las copias obtenidas a través de este servicio no
          podrán superar el 30% del total del documento. En el caso de artículos de revista, se enviarán
          máximo 3 artículos de un mismo título.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            ¿Quienes pueden usar Ribid?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Su uso se basa principalmente para la comunidad universitaria tanto estudiantes, docentes,
          investigadores, egresados y empleados los cuales posean un correo institucional
          con dominio edu.co
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            Costro de uso de Ribid
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Ribid es totalmente gratis en tanto seas parte de la comunidad universitaria o poseas
          un correo institucional con dominio edu.co
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="jumbotron">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            Terminos y Condiciones
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>

          Esta página web es propiedad y está operado por
          Ribid.
          Estos Términos establecen los términos y condiciones
          bajo los cuales tu puedes usar nuestra página web
          y servicios ofrecidos por nosotros.
          Al acceder o usar la página web de nuestro servicio,
          usted aprueba que haya leído, entendido y aceptado
          estar sujeto a los siguientes Términos:
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            requisitos para tener una cuenta
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Para usar nuestra web, aplicacion y / o recibir nuestros servicios,
          debes tener al menos 18 años de edad, o la mayoría de edad
          legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la
          libertad para participar en estos Términos como un acuerdo vinculante.
          No tienes permitido utilizar esta página web y / o recibir servicios si
          hacerlo está prohibido en tu país o en virtud de cualquier ley o
          regulación aplicable a tu caso.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            propiedad intelectual en Ribid
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          El Servicio y todos los materiales incluidos o transferidos,
          incluyendo, sin limitación, documentos y todos
          los Derechos de Propiedad Intelectual relacionados con ellos,
          son la propiedad exclusiva de Ribid.
          Salvo que se indique explícitamente en este documento,
          no se considerará que nada en estos Términos crea una
          licencia en o bajo ninguno de dichos Derechos de Propiedad Intelectual,
          y tu aceptas no vender, licenciar, alquilar, modificar, distribuir,
          copiar, reproducir, transmitir, exhibir públicamente, realizar
          públicamente, publicar, adaptar, editar o crear trabajos derivados
          de los mismos.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            Limitación de responsabilidad
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          En la máxima medida permitida por la ley aplicable, en ningún caso
          Ribid será responsable por daños indirectos, punitivos, incidentales,
          especiales, consecuentes o ejemplares, incluidos, entre otros, daños por
          pérdida de beneficios, buena voluntad, uso, datos. u otras pérdidas
          intangibles, que surjan de o estén
          relacionadas con el uso o la imposibilidad de utilizar el servicio.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            Derecho a modificar los Términos
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Nos reservamos el derecho de modificar estos términos de
          vez en cuando a nuestra entera discreción. Por lo tanto,
          debes revisar estas páginas periódicamente. Cuando cambiemos
          los Términos de una manera material, te notificaremos que se
          han realizado cambios importantes en los Términos.
          El uso continuado de la página web o nuestro servicio
          después de dicho cambio constituye tu aceptación de los
          nuevos Términos. Si no aceptas alguno de estos términos
          o cualquier versión futura de los Términos, no uses o
          accedas (o continúes accediendo) a la página web o al servicio.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bold text-capitalize">
            Preferencia de ley
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>
          Estos Términos, los derechos y recursos provistos aquí,
          y todos y cada uno de los reclamos y disputas relacionados
          con este y / o los servicios, se regirán, interpretarán y
          aplicarán en todos los aspectos única y exclusivamente de
          conformidad con las leyes sustantivas internas de
          Colombia, sin respeto a sus principios de conflicto
          de leyes. Todos los reclamos y disputas se presentarán y
          usted acepta que sean decididos exclusivamente por un tribunal
          de jurisdicción. La aplicación de la Convención de Contratos
          de las Naciones Unidas para la Venta Internacional d
          e Bienes queda expresamente excluida.

        </p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>



</div>
