<div mat-dialog-content>
    <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="blog-header-logo text-dark">Registrarme</h1>
          </div>
        </div>
        <form>
        <!-- <form name="register" #registerForm='ngForm' (ngSubmit)='onSubmitRegister(registerForm)'> -->
          <div class="form-group">
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">

                <!-- <input class="field__input" type="text" name="name" placeholder="Fred" #name="ngModel"
                  [(ngModel)]="user.name" required pattern="[a-z A-Z]+"> -->
              
              <!-- <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small> -->
            </mat-form-field>
            </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">

                <!-- <input class="field__input" type="email" name="email" placeholder="Correo Electronico" #email="ngModel"
                  [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> -->
               
              <!-- <span *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El correo es invalido</span> -->
            </mat-form-field>

            </div>


          <div class="form-group">
         
            <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
                <!-- <input class="field__input" type="password" id="password" name="password"
                  placeholder="Ingresar Contraseña" #password="ngModel" [(ngModel)]="user.password" required> -->
              
              <!-- <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">La Contraseña es
                invalida</small> -->
            </mat-form-field>

          </div>



          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              >Registrame</button>
            <!-- <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
              [disabled]="registerForm.invalid">Registrame</button> -->
          </div>


          <div class="form-group mt-4">
            <p class="text-center">Al registrarse, acepta nuestros <a href="#">Terminos de uso.</a></p>
          </div>

        </form>
      </div>
</div>
