<div class="main-body animated fadeIn fast">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <form #createPostForm='ngForm' (ngSubmit)='createPost(createPostForm)'>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-secondary">
                                <mat-form-field appearance="outline" class="input-full-width">
                                    <mat-label>Titulo</mat-label>
                                    <input matInput placeholder="Ej: Historia de roma" type="text" name="title" required
                                        #title="ngModel" [(ngModel)]="post.title" minlength="50">
                                    <mat-hint *ngIf="!title.valid && title.touched" class="text-danger">Longitud minima de 50 caracateres</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Selecciona una categoria</mat-label>
                                        <mat-select name="category_id" #category="ngModel"
                                            [(ngModel)]="post.category_id" required>
                                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                                {{category.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint *ngIf="!category.valid && category.touched" class="text-danger">
                                            Categoria es necesaria</mat-hint>

                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                                    [disabled]="createPostForm.invalid">Guardar</button>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>