<div class="main-body animated fadeIn fast">
    <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <form #createPostForm='ngForm' (ngSubmit)='createPost(createPostForm)'>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-secondary">
                                <div class="page">
                                    <label class="field field_v3">
                                        <input class="field__input" type="text" name="title" placeholder="Titulo"
                                            required #title="ngModel" [(ngModel)]="post.title">
                                        <span class="field__label-wrap">
                                            <span class="field__label">Ej: Historia de roma.</span>
                                        </span>
                                    </label>
                                    <span *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">El
                                        titulo es necesario</span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecciona una categoria</mat-label>
                                        <mat-select name="category_id" #category="ngModel"
                                            [(ngModel)]="post.category_id">
                                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                                {{category.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page">

                                    <textarea [froalaEditor]="options" class="field__input" type="text" name="content"
                                        #content="ngModel" [(ngModel)]="post.content"></textarea>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page text-center">
                                    <angular-file-uploader [config]="fileConfig"
                                    (ApiResponse)="fileUpload($event)"></angular-file-uploader>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"
                                    [disabled]="createPostForm.invalid">Guardar</button>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>