<div class="animated fadeIn fast container">

  <div class="d-flex justify-content-center">
    <mat-spinner [diameter]="30" *ngIf="!post"></mat-spinner>
  </div>

  <section class="row tm-section tm-mb-30" *ngIf="post">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
      <div class="tm-flex-center p-5 tm-bg-color-primary">
        <div class="tm-max-w-400 tm-flex-center tm-flex-col">
          <h1 class="tm-text-color-white tm-site-name">{{post.category.name}}</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="tm-flex-center pl-5 pr-5 pt-5">
        <div class="tm-flex-center tm-flex-col">
          <q class="tm-quote tm-text-color-gray mb-4 font-weight-bold">{{post.title}}</q>
          <p class="tm-quote">{{post.document_type.name}} <span *ngIf="post.section">- {{post.section}}</span></p>
          <p class="tm-quote"><span *ngIf="post.pages">{{post.pages}} Paginas - </span>{{post.created_at | date}}</p>
        </div>
      </div>
    </div>
  </section>
  <hr />

  <div *ngIf="identity">
    <div *ngIf="identity.role === 3">

      <div *ngIf="resPostResponse">

        <h1 class="text-center mb-4 mt-2 tm-text-color-gray font-weight-bold">Vista Previa Del Documento</h1>

        <div style="height: auto;">
          <pdf-viewer [show-borders]="true" [src]="src" [fit-to-page]="true" [render-text]="false" [show-all]="false"></pdf-viewer>
        </div>

        <hr>

        <form #updateRespostForm='ngForm' (ngSubmit)='updateRespost(updateRespostForm)'>

          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona Tu Tipo De Respuesta</mat-label>
                    <mat-select name="item" #item="ngModel" [(ngModel)]="itemSelected" required>
                      <mat-option [value]="1">
                        Subir Archivo
                      </mat-option>
                      <mat-option [value]="2">
                        Seleccionar de mis recursos
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!item.valid && item.touched" class="text-danger">
                      El tipo de repuesta es necesario</mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-12" *ngIf="showUploadFile">
                <div class="page text-center">
                  <angular-file-uploader [config]="fileConfig" (ApiResponse)="fileUpload($event)">
                  </angular-file-uploader>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="showSelectDocLib">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona uno de los documentos</mat-label>
                    <mat-select name="libdoc" #libdocument="ngModel" [(ngModel)]="resPost.lib_document_id" required>
                      <mat-option *ngFor="let libdocument of libDocuments" [value]="libdocument.id">
                        {{libdocument.title}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!libdocument.valid && libdocument.touched" class="text-danger">
                      El documento es necesario</mat-error>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row mt-4">
              <div class="col-md-12">
                <button type="submit" class=" btn btn-block btn-primary tx-tfm"
                  [disabled]="updateRespostForm.invalid">Actualizar</button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div *ngIf="!resPostResponse" class="text-center">
        <h1 class="tm-text-color-gray font-weight-bold">Pendiente De Respuesta</h1>
      </div>

      <div *ngIf="!resPostResponse">

        <form #createRespostForm='ngForm' (ngSubmit)='createRespost(createRespostForm)'>

          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona Tu Tipo De Respuesta</mat-label>
                    <mat-select name="item" #item="ngModel" [(ngModel)]="itemSelected" required>
                      <mat-option [value]="1">
                        Subir Archivo
                      </mat-option>
                      <mat-option [value]="2">
                        Seleccionar de mis recursos
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!item.valid && item.touched" class="text-danger">
                      El tipo de repuesta es necesario</mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <hr>

            <div class="row" *ngIf="showUploadFile">
              <div class="col-sm-12">
                <div class="page text-center">
                  <angular-file-uploader [config]="fileConfig" (ApiResponse)="fileUpload($event)">
                  </angular-file-uploader>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="showSelectDocLib">
              <div class="col-sm-12">
                <div class="form-field-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona uno de los documentos</mat-label>
                    <mat-select name="libdoc" #libdocument="ngModel" [(ngModel)]="resPost.lib_document_id" required>
                      <mat-option *ngFor="let libdocument of libDocuments" [value]="libdocument.id">
                        {{libdocument.title}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!libdocument.valid && libdocument.touched" class="text-danger">
                      El documento es necesario</mat-error>

                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row mt-4">
              <div class="col-md-12">
                <button type="submit" class=" btn btn-block btn-primary tx-tfm"
                  [disabled]="createRespostForm.invalid">Guardar</button>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>

    <div class="mb-4 mt-4" *ngIf="this.identity.role == 1 || this.identity.role == 4 || this.identity.role == 2">
      <pdf-viewer *ngIf="resPostResponse" [src]="src" [show-borders]="true" [render-text]="false" [fit-to-page]="true" [autoresize]="true">
      </pdf-viewer>
    </div>
  </div>


  <div *ngIf="!identity">
    <div class="mb-3" *ngIf="src">
      <pdf-viewer [show-borders]="true" [src]="src" [render-text]="false" [show-all]="false" [fit-to-page]="true" [autoresize]="true"></pdf-viewer>
      <h1 class="text-center mb-5 mt-0 tm-text-color-gray font-weight-bold">Ingresa Para Ver El Documento Completo</h1>
    </div>

  </div>


</div>
